<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <div class="box" >
            <div class="chat-message">
                <div id="output"></div>
                <div id="feedback"></div>
            </div>
            <textarea id="chat-body"></textarea>
            <br/>
            <div class="fields">
                <label for="chat-input" class="form-label">Message</label>
                <input type="text" class="form-control" id="chat-input" placeholder="Message">
            </div>
        </div>

        <footer>
          <%- include('../partials/footer'); %>
        </footer>

        <div class="container demo-1">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/client.js"></script>
    </body>
</html>
