<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
        <div class="jumbotron">
            <h1>Lockdown Buddy</h1>
            <p>Start a conversation with your new virtual best friend! </p>
        </div>
        </main>

        <footer>
          <%- include('../partials/footer'); %>
        </footer>

        <div class="container demo-1">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
